nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    font-family: cursive;
    color: white;
 
    
}
nav > ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    
}
nav >ul >li{
    font-size: 3vh;
}
nav >ul >li >a{
    text-decoration: none;
    color: beige;
}
h1{
    font-size: 40px;
    color: red;
font-style: italic;
}